# Secrets
.env

# Volumes
estudia_etcd_data
standalone_data
/volumes

# Virtual environments && Dependencies
/venv
/__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDEs and editors
.vscode/
.idea/
*.swp
.DS_Store
*.log
*.code-workspace
